{% extends 'base.html' %}
{% block content %}
<a href="{% url 'inicio:mostrar_menu' %}">VOLVER A INICIO</a> <br>
<h1>Detalles de {{ personaje.nombre }}</h1>
    <p><strong>Localización:</strong> {{ personaje.localizacion }}</p>
    <p><strong>Facción:</strong> {{ personaje.faccion }}</p>
    <p><strong>Arma equipada:</strong> {{ personaje.arma_equipada|default:'Ninguna' }}</p>
    <p><strong>Armadura equipada:</strong> {{ personaje.armadura_equipada|default:'Ninguna' }}</p>
    <p><strong>Inventario:</strong></p>
    <ul>
        {% for item in personaje.inventario.items.all %}
            <li>{{ item.item.nombre }}</li>
        {% empty %}
            <li>Inventario vacío</li>
        {% endfor %}
    </ul>

{% endblock %}