{% extends "base.html" %}
{% block content %}

<h1>Lista de localizaciones</h1>
{% if localizacion_list %}
        <ul>
            {% for localizacion in localizacion_list %}
                     <li><h2><a href="{% url 'localizacion:localizacion_personajes' localizacion.id %}">{{ localizacion.nombre }} </a></h2> <br>
                     <p>{{ localizacion.description }}</p></li>
            {% endfor %}
        </ul>
            {% else %}
                <p>No hay localizaciones disponibles.</p>
            {% endif %}
{% endblock %}