<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de equipamiento</title>
</head>
<body>
   <h1>Lista de Armas</h1>
    <ul>
        {% for arma in armas %}
            <li>
                <strong>{{ arma.nombre }}</strong> ({{ arma.get_tipo_display }}) - Daño Base: {{ arma.dano_base }}
                {% if arma.es_unica %}<span> - Única</span>{% endif %}
                <h2>Ataques:</h2>
                <ul>
                    {% for ataque in arma.ataques.all %}
                        <li>{{ ataque.nombre }} - {{ ataque.get_tipo_ataque_display }} ({{ ataque.dano }} daño)</li>
                    {% empty %}
                        <li>Esta arma no tiene ataques.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No hay armas disponibles.</li>
        {% endfor %}
    </ul>

    <h1>Lista de Armaduras</h1>

<div class="card">
  <div class="card-body">
    {% if armaduras %}
      <ul class="list-group">
        {% for armadura in armaduras %}
          <li class="list-group-item">
            <strong>{{ armadura.nombre }}</strong> - Defensa: {{ armadura.defensa }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-warning mt-3">No hay armaduras disponibles.</div>
    {% endif %}
  </div>
</div>

</body>
</html>