{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'inicio:mostrar_menu' %}">VOLVER A INICIO</a> <br>
  <h1>Detalles de la Relación</h1>
  <p><strong>Personaje 1:</strong> {{ object.personaje1 }}</p>
  <p><strong>Personaje 2:</strong> {{ object.personaje2 }}</p>
  <p><strong>Tipo de Relación:</strong> {{ object.get_tipo_display }}</p>
  
  <a href="{% url 'relaciones:relacion_update' object.pk %}">Editar</a>
  <a href="{% url 'relaciones:relacion_delete' object.pk %}">Eliminar</a>
  <a href="{% url 'relaciones:relacion_list' %}">Volver a la lista</a>
{% endblock %}
